/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/*
 * Synergy styles start below, around line 300
*/

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
















/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* SYNERGY STYLES START HERE */

body {
  background: url("../img/bg.jpg") ;
  color: #002a53;
  background-size:100% 100%;
  background-repeat:no-repeat;
}

header {
  width:1170px;
  margin: 40px 0 10px;
  /*margin: 0 auto;*/
  font-size: 12px;
  text-align: right;
  font-family: 'Karla', sans-serif;
  color: #002A53;
}

header a {
	text-decoration:none;
	font-size: 12px;
	font-weight:900;
    text-align: right;
    font-family: 'Karla', sans-serif;
    color: #002A53;
	}

header a:hover {
	text-decoration:none;
	font-size: 12px;
	font-weight:900;
    text-align: right;
    font-family: 'Karla', sans-serif;
    color: #FFF;
	}

.phone {
	font-weight:bold;
	padding-right: 20px;
	}

.fax {
	font-weight:bold;
	padding-right: 20px;
	}

.email a:active {
		font-weight:bold;
		text-decoration:none;
		color:#002a53;
	}

.email a:hover{
		font-weight:bold;
		text-decoration:none;
		color:#002a53;
	}

#left {
  width: 280px;
  float: left;
  margin: 0px 0 0 56px;
}

#logo {
	background:url(../img/s_logo.jpg);
	height:119px;
	width:289px;
  cursor: pointer;
  margin-left: -10px;
}

#logo :hover {
	background:url(../img/s_logo2.jpg);
	height:119px;
	width:289px;
  cursor: pointer;
  margin-left: -10px;
}

  #logo span {
    text-transform: uppercase;
    font-size: 48px;
    text-shadow: 2px 2px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=2, offy=2);
    font-family: serif;
    line-height: 32px;
  }

  #logo span.line2 {
    font-size: 21px;
  }

nav {

}

nav li {
  /*color: #002A54;*/
  margin: 20px 0 20px 5px;
  cursor: pointer;
}

nav li a {
  display: block;
  background: url("../img/icons/main_nav_sprite.png") no-repeat;
  width: 257px;
  height: 43px;
  cursor: pointer;
}

nav li:hover, nav li a:hover{
  cursor: pointer;
}

nav li a#nav_registration{
  background-position: -15px -16px;
}

nav li a#nav_registration:hover,
nav li a#nav_registration.active{
  background-position: -285px -16px;
}

nav li a#nav_products_and_services{
  background-position: -15px -79px;
}

nav li a#nav_products_and_services:hover,
nav li a#nav_products_and_services.active{
  background-position: -285px -79px;
}

nav li a#nav_coverage_areas{
  background-position: -15px -146px;
}

nav li a#nav_coverage_areas:hover,
nav li a#nav_coverage_areas.active{
  background-position: -285px -146px;
}

nav li a#nav_quality_and_comliance{
  background-position: -15px -208px;
}

nav li a#nav_quality_and_comliance:hover,
nav li a#nav_quality_and_comliance.active{
  background-position: -285px -208px;
}

nav li a#nav_synergys_intellipanel{
  background-position: -15px -274px;
}

nav li a#nav_synergys_intellipanel:hover,
nav li a#nav_synergys_intellipanel.active{
  background-position: -285px -274px;
}

nav li a#nav_contact{
  background-position: -15px -339px;
}

nav li a#nav_contact:hover,
nav li a#nav_contact.active{
  background-position: -285px -339px;
}

nav_contact a.active {
	  background-position: -285px -339px;
	}

/*nav li:hover,
nav li.active {
  background-color: #002954;
  color: white;
}*/

/*nav li a,
nav li a:visited,
nav li a:hover,
nav li a:visited:hover {
  text-decoration: none;
  color: inherit;
}
*/


#infobox {
  background-image: url(../img/subnav_bg.png) ;
  font-family: 'karla', sans-serif;
  height:252px;
  width:278px;
}

  #infobox li {
    text-transform: uppercase;
    list-style: none;
  }

  #infobox ul {
	 padding: 45px 0 0 70px;
	  }


  #infobox a {
    text-decoration: none;
    color: #002a53;
  }

  #infobox a:hover, a:active {
	  color: #300;
	  text-decoration:none;
	  font-weight:bold;
	  }

#philosophy {
  margin-top: 53px;
}

#our_team a.active {

	}

#main {
  border: 1px solid white;
  background-color: #BDAC9A;
  background-image: url("../img/bg_content.jpg");
  -webkit-box-shadow:  10px 10px 7px 2px rgba(0, 0, 0, .2);
  box-shadow:  10px 10px 7px 2px rgba(0, 0, 0, .2);
  padding:;
}

#main {
  width: 710px;
  float: left;
  margin-left: 75px;
  padding: 25px;
}
  #main .content {
    background-color: white;
    padding: 15px;
    margin: 50px;
    color: black;
	font-family: 'Karla', sans-serif;
    text-align: justify;
    font-size: 12px;
  }

#main #image-slider {
  }

#main #image-slider .image-slider-buttons {
      float: right;
    }

      #main #image-slider .image-slider-button {
        height: 20px;
        width: 20px;
        float: left;
		margin-top: 10px;
        background: url("../img/slider_btn_off.png") no-repeat;
        cursor: pointer;
      }

      #main #image-slider .image-slider-button.active {
        background: url("../img/slider_btn_active.png") no-repeat;
      }

	#secondary {
		margin: 40px 0 40px 22px;
		padding: 0 20px 0 22px;
		border-left: solid 1px;
		border-color:#FFF;
		font-size:12px;
		font-family: 'Karla', sans-serif;
		text-align: justify;
		}

.big-header, .header {display: block;}

.big-header {
  font-family: 'Caudex', serif;
  font-size: 35px;
  font-weight: 700italic;
  color: #002a53;
  font-style:italic;
}

.header {
  font-family: 'Karla', sans-serif;
  font-weight:700;
  color: #002a53;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 90%;
}

p {
  color: black;
  font-size: 13px;
}

#nav_quality_and_comliance, #nav_quality_and_comliance {text-decoration: none;}

.read-more {
  color: white;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration:none;
  font-family: 'Karla', sans-serif;
}

.read-more a:active {
  color: #002a53;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration:none;
    font-family: 'Karla', sans-serif;

}

.read-more.team {
  color: #002a53;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration:none;
  margin-left: 10px;
  margin-top:-20px;
  font-family: 'Karla', sans-serif;
  cursor:pointer;

}

.read-more.team.bottom{
  display: block;
  margin-top: -10px;
}

.read-more.team a:active {
  color: #002a53;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration:none;
  margin-left: 10px;
  margin-top:-20px;
    font-family: 'Karla', sans-serif;
	  cursor:pointer;
}

span.read-more + p {display: none;}

#intellipanel {
	background-image:url(../img/intellipanel.png);
	height:222px;
	width:610px;
	margin: 0 auto;
	margin-bottom: 40px;
	}

#coverage {
	background-image:url(../img/expertise.png);
	height: 53px;
	width: 671px;
	margin: 10px auto;
	}
#coverage2 {
	background-image:url(../img/expertise.png);
	height: 53px;
	width: 671px;
	margin: 40px auto;
	}

footer {
  height: 50px;
  clear: both;
}

#intellipanel-info {
	margin: 20px auto;
}

#recruiting-appraisers {
	margin-left:120px;
	}

#qualifying-appraisers{
	margin-left:120px;
	}

#recordkeeping {
	margin-left:120px;
	}

#order-management {
	margin-left:120px;
	}

#support-and-training {
	margin-left:120px;
	}

#compensation {
	margin-left:120px;
	}

#intellipanel-info ul{
    display: none;

  }

#intellipanel-table {
	margin: 0 auto;
	cursor: pointer;

	}
#intellipanel-table {
	}

#intellipanel-top-row {
	background-color:#002a53;
	color:#fff;
	text-transform:uppercase;
	font-family: 'Karla', sans-serif;
	font-weight:900;
	font-size:16px;
	width: 500px;
	}

#intellipanel-middle-left {
	background-color:#586a8d;
	color:#fff;
	font-family: 'Karla', sans-serif;
	font-weight:900;
	font-style:italic;
	font-size:12px;
	}

#intellipanel-bottom-left {
	background-color:#586a8d;
	color:#fff;
	font-family: 'Karla', sans-serif;
	font-weight:900;
	font-style:italic;
	font-size:12px;
	}

#intellipanel-middle-middle {
	background-color:#394969;
	color:#fff;
	font-family: 'Karla', sans-serif;
	font-weight:900;
	font-style:italic;
	font-size:12px;
	}

#intellipanel-bottom-middle {
	background-color:#394969;
	color:#fff;
	font-family: 'Karla', sans-serif;
	font-weight:900;
	font-style:italic;
	font-size:12px;
	}

#intellipanel-middle-right {
	background-color:#002a53;
	color:#fff;
	font-family: 'Karla', sans-serif;
	font-weight:900;
	font-style:italic;
	font-size:12px;
	}

#intellipanel-bottom-right {
	background-color:#002a53;
	color:#fff;
	font-family: 'Karla', sans-serif;
	font-weight:900;
	font-style:italic;
	font-size:12px;
	}

#coverage-info p{
  display: none;
}

#coverage-info .states {
	background-color: #FFF;
	margin: 10px 22px 20px 22px;
	padding: 20px 22px 20px 22px;
    color: black;
	font-family: 'Karla', sans-serif;
    text-align: justify;
    font-size: 12px;
	}

#interior {
  border: 1px solid white;
  background-color: #BDAC9A;
  background-image: url("../img/bg_content.jpg");
  -webkit-box-shadow:  10px 10px 7px 2px rgba(0, 0, 0, .2);
  box-shadow:  10px 10px 7px 2px rgba(0, 0, 0, .2);
  padding: 0 0 0 0;
}

#interior {
  width: 710px;
  float: left;
  margin-left: 75px;
  padding:25px;
}

#interior .content {
    background-color: white;
    margin: 30px 22px 40px 22px;
	padding: 10px 22px 10px 22px;
    color: black;
	font-family: 'Karla', sans-serif;
    text-align: justify;
    font-size: 12px;
  }

  #interior .content2 {
    background-color: white;
    margin: 20px 22px 40px 22px;
	padding: 10px 22px 10px 22px;
    color: black;
	font-family: 'Karla', sans-serif;
    text-align: justify;
    font-size: 12px;
  }
  #interior .content3 {
    background-color: white;
    margin: 0 22px 0 22px;
	padding: 0 22px 0 22px;
    color: black;
	font-family: 'Karla', sans-serif;
    text-align: justify;
    font-size: 12px;
  }

    #interior .content4 {
    background-color: white;
    margin: 30px 22px 40px 22px;
	padding: 10px 22px 10px 22px;
    color: black;
	font-family: 'Karla', sans-serif;
    text-align: justify;
    font-size: 14px;
	font-weight:400;
	font-style:italic;
  }

  #interior .content5 {
    background-color: white;
    margin: -15px 22px 40px 22px;
	padding: 10px 22px 10px 22px;
    color: black;
	font-family: 'Karla', sans-serif;
    text-align: justify;
    font-size: 12px;
  }

#spacer {
	width:500px;
	height: 3px;
	margin: 0 auto;
	border-top:1px solid white;
	}

#spacer2 {
	width:500px;
	height: 3px;
	margin: 0 auto;
	padding-bottom:15px;
	border-top:1px solid white;
	}

h1 {
  font-family: 'Karla', sans-serif;
  font-weight:700;
  color: #002a53;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 100%;
  padding: 15px 0 0 22px;
  letter-spacing:1px;
	}

.italics {
  font-family: 'Karla', sans-serif;
  font-style:italic;
  font-weight:700;
  color: #002a53;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 100%;
	}

.italics2 {
  font-family: 'Karla', sans-serif;
  font-style:italic;
  font-weight:400;
  color: #002a53;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 100%;
  margin-right:10px;
	}

.subhead {
	text-transform:uppercase;
	color:#002a53;
	}

h2 {
	font-family: 'Karla', sans-serif;
  font-weight:700;
  color: #FFF;
  font-size: 36px;
  line-height: 0%;
  padding-left: 22px;
  text-shadow: 1px 2px  #002a53;
  }

h4 {
  font-family: 'Karla', sans-serif;
  font-weight:700;
  color: #FFF;
  font-size: 36px;
  line-height: 0%;
  padding-left: 22px;
  text-shadow: 1px 2px  #002a53;

  }


h3 {
	font-family: 'Karla', sans-serif;
  font-weight:700;
  color: #002a53;
  font-size: 20px;
  line-height: 100%;
  font-style:italic;
  text-align:center;
	}

h5 {
  font-family: 'Karla', sans-serif;
  font-weight:700;
  color: #002a53;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 100%;
  padding: 15px 0 0 0;
	}

h6 {
  font-family: 'Karla', sans-serif;
  font-weight:900;
  color: #002a53;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 100%;
  margin: 10px 0;
  text-align:left;
	}

h6 a{
	text-decoration:none;
	font-size:12px;
	font-weight:400;
	color:#002a53;
	margin-left: 20px;
	}

h6 a:hover{
	text-decoration:underline;
	font-size:12px;
	font-weight:400;
	color:#002a53;
	margin-left: 20px;
	}

h7 {
  font-family: 'Karla', sans-serif;
  font-weight:400;
  color: #002a53;
  font-size: 12px;
  font-style:italic;
  text-align:center;
  margin-bottom:20px;
	}

h7 a{
	text-decoration:none;
	font-size:12px;
	font-weight:400;
	color:#002a53;
	margin-left: 20px;
	}

h7 a:hover{
	text-decoration:underline;
	font-size:12px;
	font-weight:400;
	color:#002a53;
	margin-left: 20px;
	}

h8 {
  font-family: 'Karla', sans-serif;
  font-weight:900;
  color: #002a53;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  text-align:left;
  padding-right: 15px;
}


.topcontact {
	height:90px;
	vertical-align:text-top;
		}

#email {
	float:left;
	width: 60%;
	height:90px;
  font-family: 'Karla', sans-serif;
	font-size: 26px;
	color:#000;
	font-weight:900;
  vertical-align:text-top;
  display: block;
  margin-top: -5px;
	}

#email a {
	text-decoration: none;
	font-family: 'Karla', sans-serif;
	font-size: 22px;
	color:#000;
	font-weight:900;
  display:block;
  margin-top: -3px;
	}

.subhead2 {
	text-transform:uppercase;
	color:#002a53;
	font-size:12px;
	}
.subhead3 {
	text-transform:uppercase;
	color:#000;
	font-size:12px;
	line-height:100%;
	}
.subhead4 {
	text-transform:uppercase;
	color:#002a53;
	font-weight:900;
	font-size:14px;
	}

#phone {
	float:right;
	height:90px;
	width:35%;
    font-family: 'Karla', sans-serif;
	font-size: 22px;
	color:#000;
	font-weight:900;
	border-left:solid 1px #002a53;
	padding-left:15px;
	}

  #phone .subhead3 {
    display: block;
    margin-top: 5px;
  }
#address {
	height: 360px;
	margin-top:15px;
	border-top:solid 1px #002a53;
	}

#colorado {
	width: 30%;
	float:left;
	color:#000;
	font-size:28px;
	text-transform:uppercase;
	text-align:left;
	font-family:'Karla', sans-serif;
	font-weight:900;
	line-height:90%;
	padding-top:30px;
	margin-right:15px;
	margin-left:15px;
	}

#denvermap {
	background-image:url(../img/denvermap.png);
	height:125px;
	width:163px;
	margin-top:20px;
	margin-bottom:10px;
	}

#westmi {
	width: 32%;
	float:left;
	color:#000;
	font-size:28px;
	text-transform:uppercase;
	text-align:left;
	font-family:'Karla', sans-serif;
	font-weight:900;
	line-height:90%;
	padding-top:30px;
	margin-right:15px;

	}

#grmap {
	background-image:url(../img/grmap.png);
	height:125px;
	width:160px;
	margin-top:20px;
	margin-bottom:10px;
	}

#eastmi {
	width: 30%;
	float:left;
	color:#000;
	font-size:28px;
	text-transform:uppercase;
	text-align:left;
	font-family:'Karla', sans-serif;
	font-weight:900;
	line-height:90%;
	padding-top:30px;
	}

#troymap {
	background-image:url(../img/troymap.png);
	height:125px;
	width:160px;
	margin-top:20px;
	margin-bottom:10px;
	}

.address2 {
	font-family: 'Karla', sans-serif;
	font-style: italic;
	font-size:16px;
	font-weight:400;
	text-transform:none;
	line-height:100%;
	}

#service1 p {
	font-family:'Karla', sans-serif;
	width: 40%;
	float: left;
	text-align:left;
	margin:15px 30px 20px 20px;
	font-size:10px;
	}

#service1 .indent {
	margin-left:35px;
    line-height:60%;
	margin-bottom: 10px;
	}

#service2 p {
	font-family:'Karla', sans-serif;
	width: 45%;
	float: left;
	text-align:left;
	margin:15px 0 20px 20px;
	font-size:10px;
	}

#service2 .indent {
	margin-left:35px;
    line-height:60%;
	}

#service2 .indent2 {
	margin-left:45px;
    line-height:60%;
	}

.boldnumber {
	font-family:'Karla', sans-serif;
	font-weight:900;
	font-style:italic;
	font-size:10px;
	padding-right:7px;
	}

#family {
	height:400px;
	width:620px;
	margin-bottom:30px;
	}

#family ul {
		list-style:none;
	}

#family a {
  display: block;
  background: url(../img/fam_sprite.jpg) no-repeat;
}

#family .left {
	width:300px;
	height:280px;
	float:left;
	margin-left:-30px;
	margin-top:20px;
	}

#family .left li a {
	float:left;
	/*width:300px;*/
  height: 110px;
	}

#family .right {
	width:290px;
	height:280px;
	float:left;
	margin-top:20px;
	}

#family .right li a {
	list-style:none;
	float:left;
	/*width:300px;*/
	}

#family .bottom {
	width:450px;
	height:91px;
	margin:0 0 0 50px;
	float:left;
	}

#family .bottom li a {
	list-style:none;
	}

#mifha a{
  width: 290px;
  height: 110px;
  background-position: 0px 0px;
}

#mifha a:hover{
  background-position: -290px 0px ;
}

#cocu a {
  width: 270px;
  height: 100px;
  background-position: 0px -110px;
  margin-top:30px;
	}

#cocu a:hover {
  background-position: -270px -110px;
}

#micu a {
  width:270px;
  height: 103px;
  background-position: 0px -210px;
	}

#micu a:hover {
  background-position: -270px -210px;
}

#coval a {
  width: 290px;
  height: 87px;
  background-position: 0px -313px;
  margin-top:45px;
	}

#coval a:hover {
  background-position: -290px -313px;
}

#mfdr a{
	width: 444px;
  height: 91px;
  background-position: 0px -400px;
	}

#mfdr a:hover {
  background-position: -444px -400px;
}
